@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
  background: radial-gradient(1200px 800px at 20% 0%, #e9d5ff 0%, transparent 60%),
    radial-gradient(1000px 700px at 80% 20%, #a5b4fc 0%, transparent 60%),
    linear-gradient(180deg, #ffffff 0%, #f8fafc 40%, #ffffff 100%);
  color: #0f172a;
}
